<main>
    <h1 class="text-center text-uppercase">Hello</h1>
    <h2 class="text-end text-lowercase">Hello 2</h2>
    <h3 class="text-capitalize">hello 3 di mi sjs </h3>
    <br>
    <hr>


    <div class="display-1 text-muted">Hello</div>
    <div class="display-5">Hello</div>

    <hr>
    <span class="text-muted"> jjjfjfjf</span>
    <br>
    <hr>
    {{!-- <button class="btn btn-primary">
        <span class="text-uppercase">Test button primary</span>
    </button> --}}
    <a href="#" class="btn btn-link">
        button
    </a>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-outline-primary btn-lg">
                button
            </button>
            <button class="btn btn-outline-danger btn-sm">
                button
            </button>
        </div>
    </div>
    <br>
    <hr>
    <div class="card">
        this is content
    </div>
</main>