{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<div class="p-5">


    <button type="button" class="btn btn-primary">love</button>
</div>

{{!--
Цей код містить лише те, що буде виводитись в

<body>

    Адже наш layout/default.hbs має вже структуру HTML
    --}}