<div class="ms-2">
    <b>Pages List</b>
    <div class="row">
        <div class="mt-2">
            <div class="row">
                <div class="card col-5">
                    <div class="card-body  ms-4">
                        <div> <a class="btn btn-primary col-5 mt-2" href="/shopprofile">Shopprofile</a>
                            <a class="btn btn-primary col-5 mt-2" href="/shopreview">Shopreview</a>
                        </div>
                        <div>
                            <a class="btn btn-primary col-5 mt-2" href="/shoporder">Shoporder</a>
                            <a class="btn btn-primary col-5 mt-2" href="/shopproduct">Shopproduct</a>
                        </div>

                        <div> <a class="btn btn-primary col-5 mt-2" href="/shopcart">Shopcart</a>
                            <a class="btn btn-primary col-5 mt-2" href="/shopcatalog">Shopcatalog</a>
                        </div>
                        <div>
                            <a class="btn btn-primary col-5 mt-2" href="/shophome">Shophome</a>
                            <a class="btn btn-primary col-5 mt-2" href="/shopnews">Shopnews</a>
                        </div>
                    </div>
                </div>

                <div class="card col-5 ms-4">
                    <div class="card-body  ms-4 my-2">
                        <a class="btn btn-primary col-5 mt-2" href="/task21">Task21</a>
                        <a class="btn btn-primary col-5 mt-2" href="/task22">Task22</a>
                        <div> <a class="btn btn-primary col-5 mt-2" href="/task31">Task31</a>
                            <a class="btn btn-primary col-5 mt-2" href="/facebook">Facebook</a>
                        </div>

                        <div class="">
                            <a class="btn btn-primary col-5 mt-2" href="/bio">Bio</a>
                            <a class="btn btn-primary  col-5 mt-2" href="/work">Work</a>
                        </div>

                        <div>
                            <a class="btn btn-primary col-5 mt-2" href="/skills">Skills</a>
                            <a class="btn btn-primary col-5 mt-2" href="/education">Education</a>
                        </div>
                    </div>
                </div>
                <div class="card col-5 mt-3">
                    <div class="card-body ms-4">
                        <a class="btn btn-primary col-5 mt-2" href="/summary">Summary</a>
                        <a class="btn btn-primary col-5 mt-2" href="/web">Web</a>
                        <div><a class="btn btn-primary col-5 mt-2" href="/car">Car</a>
                            <a class="btn btn-primary col-5 mt-2" href="/list">List</a>
                        </div>
                    </div>
                </div>

                <div class="card col-5 mt-3 ms-4">
                    <div class="card-body  ms-4">
                        <a class="btn btn-primary col-5 mt-2" href="/js">Java Script</a>
                        <a class="btn btn-primary col-5 mt-2" href="/mac">Mac</a>
                        <div>
                            <a class="btn btn-primary col-5 mt-2" href="/person">Person</a>
                            <a class="btn btn-primary col-5 mt-2" href="/program">Program</a>
                        </div>
                    </div>
                </div>

                <div class="card col-5 mt-3 mt-3">
                    <div class="card-body  ms-4">
                        <a class="btn btn-primary col-5 mt-2" href="/cssStyle">CssStyle</a>
                        <a class="btn btn-primary col-5 mt-2" href="/selector1">Selector1</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="card col-5 ms-4 mt-3">
    <div class="card-body  ms-4 my-2">
        <a class="btn btn-primary col-10 mt-2 " href="/cssHomework">cssHomework</a>

        <a class="btn btn-primary col-3 mt-10 block" href="/cssHomework2">cssHomework2</a>
    </div>


    <a class="btn btn-primary col-3 mt-2 block" href="/selector">selector</a>

    <a class="btn btn-primary col-3 mt-2 block" href="/template-1">template-1</a>
</div>
<div>
    <a class="btn btn-primary col-3 mt-2 block" href="/template-2">template-2</a>
    <a class="btn btn-primary col-3 mt-2 block" href="/template-3">template-3</a>
    <a class="btn btn-primary col-3 mt-2 block" href="/template-5">template-5</a>
</div>
</div>


{{!-- <div class="p-5">
    <button type="button" class="btn btn-primary">love</button>
</div> --}}