{{!-- dsjvbks;bv
bd
sb
<s>sl</s>Бр1Ю


<div class="name">
    <h1 class="button">fhhfhf</h1>
    <h2>fhhfhf</h2>
    <a href="#">fhhfhf</a>

    <p>this is text tttpt pt pt</p>

</div> --}}



selector 2
<div class="ms-3 row my-3">
    <div class="card col-5 card-dark">
        <ul>
            <li class="item">1</li>
            <li class="item">2</li>
            <li class="item">3</li>
            <li class="item">4</li>
        </ul>
    </div>
</div>

<div class="ms-3 row">
    <div class="card col-5 card-dark">
        <ul>
            <li class="item">1</li>
            <li class="item">2</li>
            <li class="item">3</li>
            <li class="item">4</li>
        </ul>
    </div>
</div>

<div class="ms-3 row my-3">
    <div class="card col-5 card-dark">
        <ul>
            <li class="item">1</li>
            <li class="item">2</li>
            <li class="item">3</li>
            <li class="item">4</li>
        </ul>
    </div>
</div>