<div class="row m-3">
    {{#with service}}
    <div class="alert alert-success text-center">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        {{#each buttons}}
        <button class="btn btn-primary" href="{{link}}"> {{text}}</button>
        {{/each}}
    </div>
    {{/with}}
<<<<<<< HEAD

=======
    <hr>
>>>>>>> 96dc8f2bacd22249b55099aaa2b81600cfca0ffc
    {{!-- service --}}
</div>