{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <header>

    </header>

    {{#with main}}
    <main>
        <section class="mb-3">
            <div>
                {{> title data='Summary' big=true}}
                <h2></h2>
            </div>
            <div>
                <p>
                    {{summary.text}}
                </p>

            </div>
        </section>

        <section class="mb-3">
            {{> title data='Experience' big=false}}
            <div>
                {{#with experience}}
                <section>{{title}} {{text}}</section>
                {{/with}}
            </div>
        </section>
    </main>
    {{/with}}

</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}