/* * {
  color: red;
}
html {
  background: rgb(0, 0, 0);
}

:root {
  background: rebeccapurple;
}

#user {
  color: rgb(0, 0, 0);
}

.box {
  color: aquamarine;
}

h1,
h2,
a {
  color: blue;
}

h1.button {
  color: cyan;
}
.name > p {
  color: darkred;
}

h1 + h2 {
  background: black;
} */

.card-dark {
  background-color: darkmagenta;
}
.item {
  color: blue;
}

.item:last-child {
  color: rgb(79, 155, 114);
}
