<div class="row">
    {{#with service}}
    <div class="alert alert-success text-center">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        {{#each buttons}}
        <button class="btn btn-primary" href="{{link}}"> {{text}}</button>
        {{/each}}
    </div>
    {{/with}}

    {{!-- service --}}
</div>