<div>
    {{#if big}}
    <h2>{{data}}</h2>
    {{else}}
    <h3>{{data}}</h3>
    {{/if}}

    {{!-- <style>
        h2 {
            color: aqua;
        }

        h3 {
            color: blueviolet;
        }
    </style> --}}

</div>