<!DOCTYPE html>
<html>

<head>
  <title>
    {{page.title}}
  </title>


  <div class="card mx-3 my-4">
    <div clas="card-body">
      <div class="m-3">
        <div> Yovbak Anna-Diana Resume project</div>
      </div>
    </div>
  </div>

  <meta charset='utf-8' />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <link href='css/index.css' rel='stylesheet' />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">



</head>

<body>
  <div class="mx-3"> {{{body}}}</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/5538956c3a.js" crossorigin="anonymous"></script>
</body>

</html>