<!DOCTYPE html>
<html>

<head>
    <title>
        person page
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
</head>

<body>


    <br>
    <hr>
    {{! ↓ ця кострукція показує куди шаблонізатору треба вставляти код з container файлу --}}
    {{{body}}}

    <br>
    <hr>
</body>

</html>